.customGrid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: left;
  color: whitesmoke;
  width: 100%;
  margin-top: 5vh;
}
.customGridContainer {
  display: flex;
  justify-content: center;
  align-items: start;
  background-image: url("../assets/bottombg.jpeg");
  background-size: cover;
  background-color: rgb(38, 33, 33);
  background-blend-mode: overlay;
  padding: 20px;
  height: 75vh;
  gap: 40px;
  overflow-y: auto;
}
ul {
  list-style: none;
  padding: 0;
}
.ep-items {
  padding: 7px 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(228, 245, 131);
  font-weight: 600;
}
.aboutbd {
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 7px 0;
  color: rgb(228, 245, 131);
}

a {
  text-decoration: none;
  color: rgb(228, 245, 131);
}
a:hover {
  color: grey;
}
.customTypography {
  font-size: 35px;
  color: whitesmoke;
  margin-bottom: 10px;
}
.customBody {
  font-size: 20px;
}
