.dropdown-menu {
  width: 400;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;
}

.dropdown-menu li {
  background: rgb(30, 29, 29);
  cursor: pointer;
}

.dropdown-menu li:hover {
  background: #233141;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 16px;
  position: relative;
  z-index: 101;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
}
